@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/ebatfon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.imgs {
    width: 50%;
}

header {
    text-align: center;
    background-color: rgb(250, 235, 215, 0.7);
    width: 900px;
    padding: 0 20px;
}

.logo {
    width: 40px;
}

.logo2 {
    width: 30px;
}

main {
    background-color: antiquewhite;
    width: 900px;
    text-align: justify;
    padding: 20px;
}

.ct {
    text-align: center;
}

.nada {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.ul1 {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0 20px 0 20px;
    gap: 20px;
    margin-top: 16px;
}

a {
    color: #433b2f;
    text-decoration: none;
}

a:hover {
    color: #11100e;
}

a:visited {
    color: #a3a3a3;
}

@media (max-width: 1280px) {
    body{
        width: auto;
        display: flex;
    }

    .nada {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
    }

    header {
        width: auto;
    }

    main {
        width: 729px;
    }

}

@media (max-width: 768px) {
    body{
        width: auto;
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .nada {
        width: auto;
    }

    header {
        width: auto;
        display: block;
        padding-bottom: 10px;
    }

    main {
        width: auto;
        display: block;
        padding: 5px 20px;
    }

    .imgs {
        width: 100%;
    }

}

@media (max-width: 320px) {
    body{
        width: auto;
        display: block;
        text-align: center;
        font-size: 10px;
    }

    .nada {
        width: auto;
    }

    header {
        width: auto;
        display: block;
        padding-bottom: 10px;
    }

    main {
        width: auto;
        display: block;
        padding: 5px 20px;
    }

    .imgs {
        width: 100%;
    }

}